style(type='text/css').

  #widget-#{widget._id} li:first-child {
    margin-bottom: 60px;
  }

  #widget-#{widget._id} li:first-child h3 {
    font-size: 3em;
  }

  #widget-#{widget._id} li:first-child h4 {
    font-size: 1.2em;
    color: rgb(150,150,150);
  }

  #widget-#{widget._id} li {
    margin-bottom: 40px;
  }

  #widget-#{widget._id} h4 {
    color: rgb(150,150,150);
  }

  #widget-#{widget._id} svg {
    position: absolute;
    right: 15px;
    top: 10px;
  }

svg(xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 50 50")
  path(fill="#fff" d="M0 7v2.8l21.7 19c1.4 1 2.8 1.2 3.3 1.2s2 0 3.3-1.3L50 9.7V7H0zm0 5.4v25l15-11.8L0 12.4zm50 0L35 25.6l15 12V12.3zM16.7 27L0 40v3h50v-3L33.3 27c-2 1.6-3.3 2.8-3.6 3.2-2 1.6-4 1.8-4.7 1.8-.8 0-2.7-.2-4.7-1.8L16.7 27z")

ul.list-unstyled
  if data
    each mail in data
      li
        h3=mail.subject
        h4 von #{mail.from['0'].name}
        h4 am #{mail.headers.date}
  else
    li
      h2='Keine E-Mails vorhanden'

script.
  var moduleEl = document.getElementById('widget-#{widget._id}'),
      wrapperEl = moduleEl.querySelector('ul'),
      incidentsEls = moduleEl.querySelectorAll('li');

  var timer = 1000 * #{widget.settings.timer} || 1000*15;
  var index#{widget._id} = 1;

  setInterval(function(){
    if(index#{widget._id} == incidentsEls.length) {
      index#{widget._id} = 0;
    }
    wrapperEl.style.transform = 'translateY(-' + incidentsEls[index#{widget._id}].offsetTop + 'px)';
    index#{widget._id}++;
  }, timer);